body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(157, 156, 156, 0.9);
    color: #EEEEEE;
  }
  
  h2 {
    margin: 0;
  }
  
  .contenedorInicial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .cajaBotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .caja {
    margin: 10px;
  }
  
  .submit {
    margin: 5px;
  }

  
  .contenedor {
    display: none;
    margin-top: 30px;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #393939, #bab9b9);
  }

  .mensaje {
    width: 1200px;
    height: 450px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(72, 73, 74, 0.8);
    
  }
  .mensaje{
    margin-top: 20px;
    padding-top: 18vh;
  }
  .mensaje h1{
    font-size: 3.4em;
    text-shadow: 0 0 5px #000000,
    0 0 25px #000000;
  }
  .mensaje p{
    font-size: 2em;
    text-shadow: 0 0 5px #00ADB5,
    0 0 25px #00ADB5;
  }

  .mensaje h1, .mensaje p {
    text-align: center;
    
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form .caja {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

  }
  
  form .caja label {
    font-size: 1em;
    width: 100px;
    text-align: left;
    margin-right: 10px;
    padding-right: 10px;
    text-shadow: 0 0 5px #000000,
    0 0 25px #000000;
  }
  
  form .caja input {
    padding: 5px;
    width: 70%;
    background-color: transparent;
    margin: auto;
    margin-bottom: 1em;
    border: none;
    border-bottom: black thin solid;
    border-width: 3px;
    outline: none;
    padding: .2em 0;
    font-size: 18px;
  }
  .botones{
    align-items: center;
    text-align: center;
    margin:0;

  }
  .botones button{
    border: #000000 thin solid;
    padding: .7em;
    border-radius: 20px;
    font-size: 15px;
    background-color: #cacaca;
    transition: all 500ms ease-in;
    
  }
  .botones button:hover{
    background-color: #6b6b6b;
    text-shadow: 0 0 5px #EEEEEE,
        0 0 25px #EEEEEE;
    color: #EEEEEE;
  }
  .cajaBotones button{
    margin-top: -14px;
    border: #000000 thin solid;
    padding: .7em;
    border-radius: 20px;
    font-weight: 600px;
    font-size: 18px;
    transition: all 500ms ease-in;
    background-color: #515050;
    color: #EEEEEE;

  }
  .cajaBotones button:hover{
    text-shadow: 0 0 5px #00ADB5,
         0 0 25px #00ADB5;

  }
.botones button{
    width: 40%;
}
a.btnSalir {
    padding: .7em;
    border: #000000 thin solid;
    border-radius: 20px;
    font-weight: 600px;
    font-size: 18px;
    text-decoration: none;
    background-color: #cacaca;
    color: black;
    transition: all 500ms ease-in;
}
a.btnSalir:hover{
    background-color: #515050;
    color: #EEEEEE;
    text-shadow: 0 0 5px #EEEEEE,
         0 0 25px #EEEEEE;
}
header a {
    position: relative;
    padding: 10px;
    margin: 5px;
    font-size: 1.6em;
    margin-right: 20px;
    color: #EEEEEE;
    text-shadow: 0 0 5px #000000,
        0 0 25px #000000;
    text-decoration-color: rgba(255, 255, 255, 0.5);

}
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 5px 12px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.9);
}
.header a:hover{
    text-shadow: 0 0 5px #00ADB5,
         0 0 25px #00ADB5;
     color: #EEEEEE;
 }

.logo {
    position: absolute;
    color: #EEEEEE;
    font-size: 2em;
    font-family: cursive;
    text-shadow: 0 0 5px #00ADB5,
         0 0 25px #00ADB5;
}
.contenedorInicial{
    margin-top: 100px;
}

