* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
.contenedorInicial{
    display: flex;
}
.contenedor{
    padding: 10px;
    background-color: red;
}
.caja{
    background-color: aqua;
}
.cajaBotones button{
    width: 60%;
    margin: auto;
    border: #000000 thin solid;
    padding: .7em;
    border-radius: 20px;
    font-weight: 600px;
    margin-top: 3em;
    font-size: 17px;
    transition: all 500ms ease-in;
    color: #EEEEEE;
}