body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.btnSalir {
    padding: .7em;
    border: #000000 thin solid;
    border-radius: 20px;
    font-weight: 600px;
    font-size: 18px;
    text-decoration: none;
    background-color: #cacaca;
    color: black;
    transition: all 500ms ease-in;
}
a.btnSalir:hover{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.9);
    color: #EEEEEE;
    text-shadow: 0 0 5px #EEEEEE,
         0 0 25px #EEEEEE;
}
header a {
    padding: 10px;
    margin: 5px;
    font-size: 1.6em;
    margin-right: 20px;
    color: #EEEEEE;
    text-shadow: 0 0 5px #000000,
        0 0 25px #000000;
    text-decoration-color: rgba(255, 255, 255, 0.5);

}
header {

    top: 0;
    left: 0;
    padding: 5px 12px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.9);
}
.header a:hover{
    text-shadow: 0 0 5px #00ADB5,
         0 0 25px #00ADB5;
     color: #EEEEEE;
 }

 .logo {
    margin-top: 13px;
    color: #EEEEEE;
    font-size: 2em;
    font-family: cursive;
    text-shadow: 0 0 5px #00ADB5,
         0 0 25px #00ADB5;
}
h2{
    text-shadow: 0 0 5px #00ADB5;
}

.btnSalir {
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

.contenedorInicial {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.contenedor {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"],
input[type="submit"] {
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    border: #00ADB5 2px solid;
}

.contenedor form input[type=submit]{
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border-color: #666666;
    
}

.cajaVolver {
    text-align: center;
    margin-top: 20px;
}

.cajaVolver a {
    color: #313131;
    text-decoration: none;

    font-size: 1em;
}